flows.json
[
    {
        "id": "2665f4f14647bb0b",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "d9eaa5ea470d02af",
        "type": "switch",
        "z": "2665f4f14647bb0b",
        "name": "Paris",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "cont",
                "v": "Paris",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 530,
        "y": 400,
        "wires": [
            [
                "ad042395567eafda"
            ]
        ]
    },
    {
        "id": "db7de02ff5d36d5a",
        "type": "switch",
        "z": "2665f4f14647bb0b",
        "name": "pumpkin",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "cont",
                "v": "pumpkin",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 540,
        "y": 520,
        "wires": [
            [
                "993ae69122f1cab5"
            ]
        ]
    },
    {
        "id": "aa6b3c762765752c",
        "type": "switch",
        "z": "2665f4f14647bb0b",
        "name": "Marble",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "cont",
                "v": "marble",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 530,
        "y": 700,
        "wires": [
            [
                "3186d01d75e8941b"
            ]
        ]
    },
    {
        "id": "a7df65e31c58e252",
        "type": "switch",
        "z": "2665f4f14647bb0b",
        "name": "Blank",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "empty"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 530,
        "y": 300,
        "wires": [
            [
                "032f91db2ea1daab"
            ]
        ]
    },
    {
        "id": "c4bd526689103f2c",
        "type": "e-mail",
        "z": "2665f4f14647bb0b",
        "server": "smtp.gmail.com",
        "port": "587",
        "authtype": "BASIC",
        "saslformat": true,
        "token": "oauth2Response.access_token",
        "secure": false,
        "tls": true,
        "name": "inward recipient email",
        "dname": "Report Comptimised",
        "x": 980,
        "y": 400,
        "wires": []
    },
    {
        "id": "b890402957ba5303",
        "type": "e-mail",
        "z": "2665f4f14647bb0b",
        "server": "smtp.gmail.com",
        "port": "587",
        "authtype": "BASIC",
        "saslformat": true,
        "token": "oauth2Response.access_token",
        "secure": false,
        "tls": true,
        "name": "inward recipient email",
        "dname": "Report Aid",
        "x": 950,
        "y": 520,
        "wires": []
    },
    {
        "id": "164b46e46d9e8826",
        "type": "e-mail",
        "z": "2665f4f14647bb0b",
        "server": "smtp.gmail.com",
        "port": "587",
        "authtype": "BASIC",
        "saslformat": true,
        "token": "oauth2Response.access_token",
        "secure": false,
        "tls": true,
        "name": "inward recipient email",
        "dname": "Report Clue",
        "x": 950,
        "y": 700,
        "wires": []
    },
    {
        "id": "66eca81eabb09e3b",
        "type": "e-mail in",
        "z": "2665f4f14647bb0b",
        "name": "",
        "protocol": "IMAP",
        "server": "imap.gmail.com",
        "useSSL": true,
        "autotls": "never",
        "port": "993",
        "authtype": "BASIC",
        "saslformat": true,
        "token": "oauth2Response.access_token",
        "box": "INBOX",
        "disposition": "Read",
        "criteria": "UNSEEN",
        "repeat": "30",
        "fetch": "trigger",
        "inputs": 1,
        "x": 270,
        "y": 520,
        "wires": [
            [
                "a7df65e31c58e252",
                "d9eaa5ea470d02af",
                "db7de02ff5d36d5a",
                "aa6b3c762765752c",
                "4846085898f8160f",
                "2c54cc55b4904920",
                "408238b51f52e0da",
                "56daa6f10f75c3c6",
                "3391d76c79d2a730"
            ]
        ]
    },
    {
        "id": "4846085898f8160f",
        "type": "debug",
        "z": "2665f4f14647bb0b",
        "name": "debug",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 530,
        "y": 800,
        "wires": []
    },
    {
        "id": "ad042395567eafda",
        "type": "change",
        "z": "2665f4f14647bb0b",
        "name": "Comp",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "An agent is compimized ",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "Danger",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 730,
        "y": 400,
        "wires": [
            [
                "c4bd526689103f2c"
            ]
        ]
    },
    {
        "id": "993ae69122f1cab5",
        "type": "change",
        "z": "2665f4f14647bb0b",
        "name": "Aid",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "An agent requires rescources ",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "Aid",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 730,
        "y": 520,
        "wires": [
            [
                "b890402957ba5303"
            ]
        ]
    },
    {
        "id": "3186d01d75e8941b",
        "type": "change",
        "z": "2665f4f14647bb0b",
        "name": "Clue",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "An agent has intel",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "Clues",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 730,
        "y": 700,
        "wires": [
            [
                "164b46e46d9e8826"
            ]
        ]
    },
    {
        "id": "70d04621892d93c5",
        "type": "e-mail",
        "z": "2665f4f14647bb0b",
        "server": "smtp.gmail.com",
        "port": "587",
        "authtype": "BASIC",
        "saslformat": true,
        "token": "oauth2Response.access_token",
        "secure": false,
        "tls": true,
        "name": "inward recipient email",
        "dname": "Report Blank",
        "x": 950,
        "y": 300,
        "wires": []
    },
    {
        "id": "0e9771dd06e392c9",
        "type": "comment",
        "z": "2665f4f14647bb0b",
        "name": "",
        "info": "ccuigafmoufusoco",
        "x": 280,
        "y": 580,
        "wires": []
    },
    {
        "id": "032f91db2ea1daab",
        "type": "change",
        "z": "2665f4f14647bb0b",
        "name": "Blnc",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 730,
        "y": 300,
        "wires": [
            [
                "70d04621892d93c5"
            ]
        ]
    },
    {
        "id": "2c54cc55b4904920",
        "type": "switch",
        "z": "2665f4f14647bb0b",
        "name": "Paris",
        "property": "topic",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "Paris",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 530,
        "y": 440,
        "wires": [
            [
                "ad042395567eafda"
            ]
        ]
    },
    {
        "id": "d9473cf48366313a",
        "type": "inject",
        "z": "2665f4f14647bb0b",
        "name": "",
        "props": [],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "x": 110,
        "y": 520,
        "wires": [
            [
                "66eca81eabb09e3b"
            ]
        ]
    },
    {
        "id": "408238b51f52e0da",
        "type": "switch",
        "z": "2665f4f14647bb0b",
        "name": "pumpkin",
        "property": "topic",
        "propertyType": "msg",
        "rules": [
            {
                "t": "cont",
                "v": "pumpkin",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 540,
        "y": 560,
        "wires": [
            [
                "993ae69122f1cab5"
            ]
        ]
    },
    {
        "id": "56daa6f10f75c3c6",
        "type": "switch",
        "z": "2665f4f14647bb0b",
        "name": "Marble",
        "property": "topic",
        "propertyType": "msg",
        "rules": [
            {
                "t": "cont",
                "v": "marble",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 530,
        "y": 740,
        "wires": [
            [
                "3186d01d75e8941b"
            ]
        ]
    },
    {
        "id": "3391d76c79d2a730",
        "type": "switch",
        "z": "2665f4f14647bb0b",
        "name": "football",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "cont",
                "v": "football",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 540,
        "y": 860,
        "wires": [
            [
                "7257cd77b13279bf"
            ]
        ]
    },
    {
        "id": "7257cd77b13279bf",
        "type": "change",
        "z": "2665f4f14647bb0b",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "userProperties",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 740,
        "y": 860,
        "wires": [
            [
                "dbe67f8b955a4896"
            ]
        ]
    },
    {
        "id": "dbe67f8b955a4896",
        "type": "e-mail",
        "z": "2665f4f14647bb0b",
        "server": "smtp.gmail.com",
        "port": "587",
        "authtype": "BASIC",
        "saslformat": true,
        "token": "oauth2Response.access_token",
        "secure": false,
        "tls": true,
        "name": "inward recipient email",
        "dname": "give user?",
        "x": 970,
        "y": 860,
        "wires": []
    }
]

